#inscreve {
  position: absolute;
  background-color: #6C63FF;
  height: 30px;
  width: 150px;
  margin-left: 10vw;
  left: 125px;
  bottom: 27vh;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 0px 9px rgb(0, 0, 0, .8)
}

#inscreve:active {
  background-color: #6b63ffab;
}

#inscreve:hover {
  cursor: pointer;
}