@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: 
  url(../images/rocket.svg ),
  url(../images/bottom-image.svg ),
  url(../images/top-image.svg );
  background-repeat: no-repeat;
  background-position: center right, bottom, top;
}