* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(25, 25, 35);
  background-image: url(../images/top-image.svg ),
  url(../images/bottom-image.svg ),
  url(../images/rocket.svg );
  background-repeat: no-repeat;
  background-position: top, bottom, center right;
}